@use '@styles/utils' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height-mobile;
    background-color: var(--color-body-background);
    border-bottom: 1px solid var(--color-border);

    &__wrapper {
        position: relative;
        height: 100%;
    }

    .row {
        align-items: center;
        height: 100%;
    }

    &__logo {
        svg {
            width: 60px;
        }
    }

    &__search-trigger {
        button {
            width: 44px;
            height: 100%;
            border: 0;
            @include flex(row, nowrap, center, center);

            svg {
                width: 30px;
            }
        }
    }

    &__language-switch {
    }

    &__open {
    }
}
