@use '@styles/utils' as *;

.pokemon {
    padding: 16px;

    @include breakpoint(sm) {
        padding: 32px 16px;
    }

    &--card {
        border: 4px solid transparent;
        border-radius: 16px;

        background: linear-gradient(var(--color-card-background), var(--color-card-background))
                padding-box,
            linear-gradient(45deg, var(--pokemon-border-color-1), var(--pokemon-border-color-2))
                border-box;
    }

    &--detail {
        padding: 0;

        .pokemon {
            &__thumb {
                margin: 0 auto 24px;

                @include breakpoint(sm) {
                    margin: 0 0 24px;
                }
            }

            &__image {
                @include breakpoint(sm) {
                    width: 200px;
                }
            }
        }
    }

    &__meta {
    }

    &__section {
        padding-top: 8px;
        margin-bottom: 16px;
    }

    &__subsection {
    }

    &__headline {
    }

    &__subheadline {
    }

    &-abilities {
        &__item {
        }
    }

    &__header {
        margin-bottom: 16px;
        @include flex(row, wrap);

        @include breakpoint(sm) {
            align-items: center;
            gap: 48px;
        }

        @include breakpoint(md) {
            gap: 96px;
        }
    }

    &__trigger {
        display: block;
        width: 100%;
        border: 0;
    }

    &__thumb {
        margin-bottom: 16px;
    }

    &__image {
        width: 160px;
        margin: 0 auto;
        aspect-ratio: 1;
    }

    &__pokedex-number {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        text-align: left;
    }

    &__name {
        display: block;
        margin-bottom: 12px;
        text-transform: capitalize;
        text-align: left;
    }

    &__types {
        gap: 8px;
        @include flex(row, wrap);
    }
}
