@use '@styles/utils' as *;

.pokedex {
    --load-more-space: 88px;
    --load-more-gap: 24px;

    height: calc(100dvh - #{$header-height * 1.2} - $footer-height);
    overflow: hidden;

    > .row {
        height: 100%;

        > .col-12 {
            height: 100%;
            overflow: hidden;
        }
    }

    &__list {
        align-content: flex-start;
        height: calc(100% - var(--load-more-space));
        padding: 0;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior: contain;
    }

    &__item {
        display: flex;
        margin-bottom: 16px;
    }

    &__load-more {
        display: block;
        width: 100%;
        max-width: 320px;
        margin: var(--load-more-gap) auto 0;
    }
}
