@use '@styles/utils' as *;

.search {
    @include flex(row, wrap, flex-end, center);

    &--visible {
        .search {
            &__wrapper {
                display: block;

                @include breakpoint(md) {
                    @include flex(row, nowrap, space-between, center);
                }

                @include breakpoint(lg) {
                    justify-content: flex-end;
                }
            }
        }
    }
    &__wrapper {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(100%);
        padding: 8px 16px 12px;
        background-color: var(--color-body-background);
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);

        @include breakpoint(md) {
            position: static;
            transform: translate(0);
            width: calc(100% - 36px);
            border-top: 0;
            border-bottom: 0;
            background-color: transparent;
            gap: 12px;
            @include flex(row, nowrap, space-between, center);
        }

        @include breakpoint(lg) {
            justify-content: flex-end;
            padding: 0 12px 0 0;
        }

        &::before {
            position: absolute;
            left: 50%;
            bottom: -1px;
            transform: translateX(-50%);
            height: 2px;
            width: 100vw;
            background-color: var(--color-border);
            content: '';

            @include breakpoint(md) {
                content: none;
            }
        }
    }

    &__bar {
        position: relative;
        color: var(--color-black);
        @include flex(row, nowrap, space-between);

        @include breakpoint(md) {
            width: calc(100% - 90px);
        }
    }

    &__input {
        width: 100%;
        height: 40px;
        padding-right: 48px;
        border-bottom: 1px solid var(--color-white);
        color: var(--color-white);

        @include breakpoint(lg) {
            max-width: 400px;
            margin-left: auto;
        }

        &:not(:placeholder-shown) {
            + .search {
                &__close {
                    display: block;
                }
            }
        }
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include flex(row, nowrap, center, center);

        @include breakpoint(lg) {
            display: none;
        }

        svg {
            path {
                stroke: var(--color-white);
            }
        }
    }

    &__submit {
        width: 100%;
        margin-top: 12px;

        @include breakpoint(md) {
            padding: 8px 16px;
            width: auto;
            margin-top: 0;
        }

        @include breakpoint(lg) {
            display: none;
        }
    }

    &__open-trigger {
        min-height: unset;
        height: 36px;
        width: 36px;

        svg {
        }
    }
}
