@use 'sass:meta';

@use '@styles/utils/config' as *;
@use '@styles/utils/functions' as *;
@use '@styles/utils/mixins' as *;

/* Base container styles */
.container {
    width: 100%;
    padding: 0 $container-padding;
    margin: 0 auto;
}

/* Apply responsive max-widths to the default container */
.container {
    @each $breakpoint, $container-max-width in $container-max-widths {
        @include breakpoint($breakpoint) {
            max-width: $container-max-width;
        }
    }
}

/* Base styles for flex containers */
.row {
    margin: 0 -#{$col-padding};
    @include flex();
}

/* Generate column classes based on grid columns */
@for $i from 1 through $grid-columns {
    /* Standard column */
    .col-#{$i} {
        width: grid-size($i);
        padding: 0 $col-padding;
    }

    .col-left-#{$i} {
        margin-left: grid-size($i);
    }

    .col-right-#{$i} {
        margin-right: grid-size($i);
    }
}
/* Responsive column logic for specific breakpoints */
@each $breakpoint, $width in $breakpoints {
    @if $breakpoint != 'xs' {
        @include breakpoint($breakpoint) {
            @for $i from 1 through $grid-columns {
                /* Responsive column */
                .col-#{$breakpoint}-#{$i} {
                    width: grid-size($i);
                    padding: 0 $col-padding;
                }

                .col-#{$breakpoint}-left-#{$i} {
                    margin-left: grid-size($i);
                }

                .col-#{$breakpoint}-right-#{$i} {
                    margin-right: grid-size($i);
                }

                .col-#{$breakpoint}-left-0 {
                    margin-left: 0;
                }

                .col-#{$breakpoint}-right-0 {
                    margin-right: 0;
                }
            }
        }
    }
}
