@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                          REBOOT                          */
/* -------------------------------------------------------- */

html {
    line-height: 1.5;
}

body {
    font-family: $font-family-body;
    font-size: get-rem($font-size-mobile);
    color: var(--color-body-font);
    background-color: var(--color-body-background);

    @include breakpoint(md) {
        font-size: get-rem($font-size-tablet);
    }

    @include breakpoint(lg) {
        font-size: get-rem($font-size-desktop);
    }
}

h1,
h2,
h3 {
    margin-bottom: 16px;
    font-family: $font-family-headline;
    font-weight: $font-weight-bold;
    line-height: 1.2;
}

h1 {
    font-size: $font-size-h1-mobile;

    @include breakpoint(md) {
        font-size: $font-size-h1-tablet;
    }

    @include breakpoint(lg) {
        font-size: $font-size-h1-desktop;
    }
}

h2 {
    font-size: $font-size-h2-mobile;

    @include breakpoint(md) {
        font-size: $font-size-h2-tablet;
    }

    @include breakpoint(lg) {
        font-size: $font-size-h2-desktop;
    }
}

h3 {
    font-size: $font-size-h3-mobile;

    @include breakpoint(md) {
        font-size: $font-size-h3-tablet;
    }
}

b,
strong {
    font-weight: $font-weight-bold;
}

a,
.link {
    position: relative;
    color: var(--color-primary);
    font-weight: $font-weight-semibold;
    transition: all $transition-time ease;

    &.link--no-decoration {
        color: inherit;

        &::before {
            content: none;
        }
    }
}

button,
.button {
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition: all $transition-time ease;
    border-radius: 8px;
    font-weight: $font-weight-medium;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}

/* Images */
img {
    width: 100%;
    shape-margin: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
}

/* Svgs */
svg {
    display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

/* Unordered Lists */
ul {
    list-style: none;
}

main {
    min-height: calc(100vh - 139px);
}
